*{
  margin: 0;
  padding: 0;

}
.card{
  border: 2px solid black;
  max-width: 23vw;
}
.container{
  display: flex;
  gap: 34px;
  flex-wrap: wrap;
}
nav,ul{
  display: flex;
  gap: 14px;
  padding: 12px 3px;
  background-color: rgb(59, 59, 50);
  margin: 9px 0px;
  color: white;
}
li{
  list-style: none;
}