/* p{
    background-color:aquamarine;
}
a{
    background-color: rgb(172, 120, 120);
}
.red {
    color: red;
}
.bg-yellow{
    background-color: yellow;
}
#seconddiv{
    background-color: red;      --->this all was made for learn1.html
} */
/* for commenting use ctrl+/
. is used for class
# is used for id */


/* h1{
    color: yellow;
    background-color: red;
}  ----> this is for learn3*/

